*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
header{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)),url(https://images.unsplash.com/photo-1464037866556-6812c9d1c72e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    background-position: center;
    
}
#nav{
    height: 100px;
    width: 100%;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.left{
    font-size: 40px;
    letter-spacing: 2px;
}
.mid a{
    text-decoration: none;
    color: white;
    padding : 20px 20px;
    font-size: 20px;
    position: relative;

}
.mid a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid rgba(217, 151, 58, 0.995);
    transition: 0.4s linear;
}
.mid a:hover::before{
    width: 90%;
}
.right a{
    color: white;
    text-decoration: none;
    background-color: rgba(217, 151, 58, 0.995);
    padding : 20px 20px;
    font-size: 20px;
    border-radius: 10px;
    transition: 0.4s;
}
.right a:hover{
    background: transparent;
    border: 2px solid  rgba(217, 151, 58, 0.995);;
}
.maintext{
    max-width: 650px;
    color: white;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    position: absolute;
    
}
.maintext span{
    font-size: 25px;
    font-weight: 200;
    color: white;
}
.maintext h1{
    font-size: 55px;
  
}
.maintextx a{
    max-width: 650px;
    color: white;
    top: 63%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    position: absolute;
    color: white;
    background-color:  rgba(214, 127, 4, 0.995);;
    
  
    
    text-decoration: none;
   
   
    border: 2px solid  rgba(217, 151, 58, 0.995);;
    transition: 0.4s;

}
.maintext a:hover{
    background: transparent;
    border: 2px solid  rgba(217, 58, 58, 0.995);;
}

@media(max-width: 500px){
    #html{
        flex-direction: column;
    }
    #nav .left{
        width: 100%;
    }
    #nav .right{
        width: 100%;
    }
}
